    <section id="details" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel-background">
                    <h2 class="section-heading">Details</h2>
                    <p>Chief and Mrs. Eric Okafor</p>
                    <p>and</p>
                    <p>Ms. Adonia Bovell and Mr. Allan Winchester</p>
                    <p>cordially invite you to the marriage of our children</p>
                    <p class="name"><i>Ngozi and Adonis</i></p>
                    <p>on</p>
                    <p>Saturday, May 28, 2016</p>
                    <p>at</p>
                    <address>St. Bartholomew's Episcopal Church<br>
                    1790 LaVista Rd NE, Atlanta, GA 30329<br>
                    <a href="#map" class="page-scroll"><i class="fa fa-map-o animated"></i></a>
                    </address>

                    <p>CEREMONY 3:00 PM<br>
                    RECEPTION 5:00 PM</p>
                </div>
            </div>
        </div>
    </section>