    <section id="rsvp" class="content-section text-center">
        <div class="picture-section">
            <div class="container">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="panel-background panel-transparent panel-spacer">
                        <div id="rsvp-div">
                            <h2 class="section-heading">RSVP</h2>
                            <p>Please let us know if you will be able to attend.</p>
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a onclick="display_rsvp_modal()" class="btn btn-default btn-lg"><span class="network-name">RSVP</span></a>
                                </li>
                                <li>
                                    <a href="mailto:adonis.ngozi@gmail.com" class="btn btn-default btn-lg"><span class="network-name">Contact Us</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>