                        <div id="rsvp-div">
                            <h2 class="section-heading">Contact Us</h2>
                            <p>Thanks for your response.</p>
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="mailto:adonis.ngozi@gmail.com" class="btn btn-default btn-lg"><span class="network-name">Email Us</span></a>
                                </li>
                            </ul>
                        </div>