<!DOCTYPE html>
<html lang="en">

{% include 'ngozi/headers.html' %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    {% include 'ngozi/navigation.html' %}

    <!-- Intro Header -->
    {% include 'ngozi/panels/intro.html' %}

    <!-- Detail Section -->
    {% include 'ngozi/panels/details.html' %}

    <!-- RSVP Section -->
    {% include 'ngozi/panels/rsvp.html' %}

    <!-- Hotel Section -->
    {% include 'ngozi/panels/hotel.html' %}

    <!-- Registry Section -->
    {% include 'ngozi/panels/registry.html' %}

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p class="muted">Copyright &copy; {{title}} 2016</p>
        </div>
    </footer>

    {% include 'ngozi/scripts.html' %}

    {% include 'ngozi/modal.html' %}
</body>

</html>
